body {
    width: 100%;
    height: 100%;
    background: #2E3B4E;
    /* color: #DDE4ED; */
    font-family: Montserrat,sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    margin: 20px;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.right-side img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
}

.right-side img:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.8);
}

h2 {
    color: #DDE4ED;
}

label {
    color: #DDE4ED;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #27355A;
    color: #DDE4ED;
}

button {
    background-color: #b15709;
    color: #DDE4ED;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8b3f00;
}

#ingredients {
    margin: 10px 0;
}

.ingredient {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ingredient input[type="text"] {
    margin-right: 10px;
    flex: 1;
}

.remove-button {
    background-color: #ff4c4c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: none;
}

.remove-button:hover {
    background-color: #cc0000;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .right-side img {
        width: 60%;
        border-radius: 50%;
    }
}
h3,p{
    color: #1F2B3A;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

#okButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#okButton:hover {
    background-color: #45a049;
}