body {
    background-color: #0F182C;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

.navbar {
    background-color: #27355A;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.navbar-brand a {
    font-size: 24px;
    font-weight: bold;
    color: #DDE4ED;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu a {
    color: #DDE4ED;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.navbar-menu a:hover {
    background-color: #0e5a90;
    color: #fff;
}

.content {
    padding: 20px;
}
.navbar-brand a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-brand .logo {
    height: 60px;
    margin-right: 10px;
    width: 100;
}
.navbar-brand {
    display: flex;
    align-items: center;
}

#user-email {
    font-size: 16px;
    color: #DDE4ED;
    margin-left: 10px;
    white-space: nowrap;
    font-weight: normal;
    display: inline-block;
}
#logout-button {
    display: none;
}

#sign-in,
#sign-up {
    display: block;
    font-size: 16px;
    margin-left: 15px;
    padding: 10px 15px;
}
