<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Filter</title>
</head>

<body>
    <h1>Recipe Filter</h1>
    <form id="filter-form">
        <h2>Cuisine</h2>
        <label><input type="checkbox" name="cuisine" value="Egyptian"> Egyptian</label>
        <label><input type="checkbox" name="cuisine" value="Italian"> Italian</label>
        <label><input type="checkbox" name="cuisine" value="Chinese"> Chinese</label>
        <label><input type="checkbox" name="cuisine" value="American"> American</label>
        <label><input type="checkbox" name="cuisine" value="Indian"> Indian</label>
        <label><input type="checkbox" name="cuisine" value="Greek"> Greek</label>
        <label><input type="checkbox" name="cuisine" value="Spanish"> Spanish</label>
        <label><input type="checkbox" name="cuisine" value="Japanese"> Japanese</label>
        <label><input type="checkbox" name="cuisine" value="British"> British</label>


        <h2>Time</h2>
        <label><input type="checkbox" name="time" value="15 minutes"> 15 minutes</label>
        <label><input type="checkbox" name="time" value="20 minutes"> 20 minutes</label>
        <label><input type="checkbox" name="time" value="30 minutes"> 30 minutes</label>
        <label><input type="checkbox" name="time" value="40 minutes"> 40 minutes</label>
        <label><input type="checkbox" name="time" value="50 minutes"> 50 minutes</label>
        <label><input type="checkbox" name="time" value="60 minutes"> 60 minutes</label>



        <button type="submit">Filter Recipes</button>
    </form>

    <h2>Filtered Recipes</h2>
    <ul id="recipe-list"></ul>
</body>

</html>