<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">

    <title>home</title>
</head>

<body>
<section>
    <div class="container-pag1">
        <div>
            <div class="addRecipe_card" id="addRecipe_card">
                <img src="../static/images/newrecipe.jpg" alt="addRecipe" class="addRecipe-image">
                <div class="addRecipe-details">
                    <h2 class="newrecipe-name">Add your special recipe</h2>
                </div>
            </div>
            <div class="category-card" id="category-card">
                <img src="../static/images/categories.jpg" alt="explore categories" class="category-image">
                <div class="category-details">
                    <h2 class="str-name">See more categories</h2>
                </div>
            </div>
        </div>
        
    </div>
</section><br>
    <script src="../static/js/home.js"></script>


</body>

</html>