<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign up form validation</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../static/css/auth.css" />
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>CREATE ACCOUNT</h2>
        </div>



        <!-- Display error message from Flask if validation fails -->
        {% if validation_message %}
        <div class="error-message">
            <small>{{ validation_message }}</small>
        </div>
        {% endif %}


        <form class="form" id="form" method="POST" action="/signup">
            <div class="form-control ">
                <label>Username</label>
                <input type="text" placeholder="Username" id="username" name="username">
                <small>Error Message</small>
            </div>
            <div class="form-control ">
                <label>Email</label>
                <input type="email" placeholder="Email" id="email" name="email">
                <small>Error Message</small>
            </div>
            <div class="form-control">
                <label>password</label>
                <input type="password" placeholder="password" id="password" name="password">
                <small>Error Message</small>
            </div>
            <div class="form-control">
                <label>Confirm password</label>
                <input type="password" placeholder="Confirm password " id="confirm">
                <small>Error Message</small>
            </div>
            <button>Submit</button>
        </form>
        <div class="link">
            Already have an account? <a href="/login">Login here</a>
        </div>
    </div>
    <script src="../static/js/signUp.js"></script>
</body>

</html>