{% extends "navBar.html" %}

{% block title %}
your recipes
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Your Recipes</title>
    <link rel="stylesheet" href="../static/css/filter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">



</head>

<body>
    <h1>Your Recipes</h1>
    <div id="recipe-list">
        <!-- Filtered recipes will be rendered here by the server -->
        {% if recipes %}
        {% for recipe in recipes %}
        <div class="recipe-card">
            <img src="{{ recipe.imgLink }}" alt="{{ recipe.recipe_name }}">
            <h3>{{ recipe.recipe_name }}</h3>

            <a href="/recipe-details/{{ recipe.id }}">View Recipe</a>

            <div class="action-icons">
                <form action="/editrecipe/{{ recipe.id }}" method="GET" style="display:inline;">
                    <button type="submit" class="update-icon" title="Update Recipe">
                        <i class="fas fa-edit"></i>
                    </button>
                </form>

                <form action="/delete-recipe/{{ recipe.id }}" method="POST" style="display:inline;">
                    <button type="submit" class="delete-icon" title="Delete Recipe">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </div>


        </div>


        {% endfor %}
        {% else %}
        <p>No recipes found.</p>
        {% endif %}
    </div>
</body>

</html>
{% endblock %}